{% extends 'base.html' %}
{% load static %}

{% block title %}
To do
{% endblock title %}

{% block content %}

<div class="container">
    {% if response_link %}
    <div class="row">
        <div class="col-md-4 mb-5">
            <img src="{{response_link}}" alt="Loading..." width="100%" />
        </div>
        {% endif %}
        {% if intent_link %}
        <div class="col-md-4 mb-5">
            <img src="{{intent_link}}" alt="Loading..." width="100%" />
        </div>
        {% endif %}
{% if service_link %}
        <div class="col-md-4 mb-5">
            <img src="{{service_link}}" alt="Loading..." width="100%" />
        </div>
        {%endif%}
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Leads Generated</h4>
                    <p class="card-description"> Click the username to fetch profile details </p>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Username</th>
                                <th>Full Name</th>
                                <th>Location/Predicted Service</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for lead in leads %}
                            <tr>
                                {% if type == "insta"%}
                                <td><a href="https://www.instagram.com/{{ lead.0 }}" target="_blank">{{ lead.0 }}</a></td>
                                {% else %}
                                <td><a href="https://twitter.com/{{ lead.0 }}" target="_blank">{{ lead.0 }}</a></td>
                                {%endif%}
                                <!-- The first element (username) of the tuple -->
                                <td><a href="{% url 'profileClassify' name=lead.1 %}">{{ lead.1 }}</a></td> <!-- The second element (location) of the tuple -->
                                <td class="content-wrapper">{{ lead.2 }}</td> <!-- The third element (predicted service) of the tuple -->
                                <td class="content-wrapper">{{ lead.3 }}</td> <!-- The third element (predicted service) of the tuple -->
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}