{% extends 'base.html' %}
{% load static %}

{% block title %}
Data Filter
{% endblock title %}

{% block content %}

<div class="page-header">
    <h3 class="page-title"> Data Filter </h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'dataFilter' %}">Data Filter</a></li>
        </ol>
    </nav>
</div>

<div class="row">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Leads filter form</h4>
                <p class="card-description"> Choose a lead </p>

                <form class="forms-sample" name="data-filter-form"  method="POST" action="{% url 'dataFilter' %}">
                    {%csrf_token%}
                    <div class="form-group">
                        <label for="selectLead">Lead</label>
                        <select class="form-control form-control-lg" id="selectLead" name="lead">
                            <option value="hot lead">Hot Lead</option>
                            <option value="warm lead">Warm Lead</option>
                            <option value="cold lead">Cold Lead</option>
                        </select>
                    </div>
                    
                    <button type="submit" class="btn btn-gradient-primary me-2">Submit</button>
                    <a href="{% url 'dashboard' %}" class="btn btn-light">Cancel</a>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Service filter form</h4>
                <p class="card-description"> Choose a service </p>
                <form class="forms-sample" method="POST" action="{% url 'dataFilter' %}">
                    {%csrf_token%}
                    <div class="form-group">
                        <label for="selectService">Filter</label>
                        <select class="form-control form-control-lg" id="selectService" name="service">
                            <option value="EMI">EMI</option>
                            <option value="card">Card</option>
                            <option value="loan">Loan</option>
                            <option value="insurance">Insurance</option>
                            <option value="investment">Investment</option>
                            <option value="savings">Savings</option>
                        </select>
                    </div>
                    
                    <button type="submit" class="btn btn-gradient-primary me-2">Submit</button>
                    <a href="{% url 'dashboard' %}" class="btn btn-light">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}