{% extends 'base.html' %}
{% load static %}

{% block title %}
Visualize Data | CRM
{% endblock title %}

{% block content %}

<div class="page-header">
    <h3 class="page-title"> Data Visualzation </h3>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active"><a href="{% url 'dataVisualization' %}">Data Visualization</a></li>
        </ol>
    </nav>
</div>
{% if not lead%}
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Data Visualization</h4>
                <p class="card-description"> Select appropriate filters </p>


                <form class="forms-sample" name="dataVisualization" method="POST" action="{% url 'dataVisualization' %}">
                    {%csrf_token%}
                    <div class="form-group">
                        <label for="selectService">Services</label>
                        <select class="form-control form-control-lg" id="selectService" name="service">
                            <option value="loan" >Loans</option>
                            <option value="insurance" >Insurances</option>
                            <option value="cards" >Credit Cards</option>
                            <option value="emi" >EMI</option>
                            <option value="investment" >Investments</option>
                            <option value="savings" >Savings</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="selectData">Social media</label>
                        <select class="form-control form-control-lg" id="selectData" name="social_media">
                            <option value="past" >Instagram</option>
                            <option value="current" >Twitter</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="selectChart" >Chart</label>
                        <select class="form-control form-control-lg" id="selectChart" name="chart">
                            <option value="bar" >Bar Graph</option>
                            <option value="pie" >Pie Chart</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-gradient-primary me-2">Submit</button>
                    <a href="{% url 'dashboard' %}" class="btn btn-light">Cancel</a>
                </form>


                
            </div>
        </div>
    </div>
    {% endif%}
    {% if lead %}
    <table class="table">
        <thead>
            <tr>
                <th> Status </th>
                <th> Username </th>
                <th> location </th>
                <th> Managed by</th>
            </tr>
        </thead>
        
        <tbody>
           
            {% for leads in lead %}
            <tr>
              
                <td>{{ leads.status }}</td>
              
              <td>{{ leads.username }}</td>
              <td>{{ leads.location }}</td>
              {% if leads.handled_by == "accounts.Employee.None" %}
                <td>Not Assigned yet</td>
                {% else %}
              <td>{{ leads.handled_by }}</td>
          {% endif %}
              <!-- Display more fields as needed -->
            </tr>
            <script>
              document.getElementById('status-{{ lead.username }}-{{ id }}').addEventListener('change', function() {
                document.getElementById('lead-form-{{ lead.username }}-{{ id }}').submit();
              });
            </script>
            {% endfor %}
            
                  
        </tbody>
    </table>
    {%endif%}

    <div class="col-md-3"></div>
</div>

{% endblock content %}