{% extends 'base.html' %}
{% load static %}

{% block title %}
Settings page
{% endblock title %}

{% block content %}

<div class="container">
    <div class="page-header">
        <h3 class="page-title"> Settings </h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'settings' %}">Settings</a></li>
            </ol>
        </nav>
    </div>
    {% if error %}
    <p class="error">{{ error }}</p>
    {% endif %}
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Change Password</h4>
                    <p class="card-description"> Use your old password to set a new one </p>
                    <form action="{% url 'change_password' %}" method="post" class="form-sample">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="current_password">Current Password:</label>
                            <input type="password" id="current_password" name="current_password" class="form-control"
                                required>
                        </div>
                        <div class="form-group">
                            <label for="new_password">New Password:</label>
                            <input type="password" id="new_password" name="new_password" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="confirm_new_password">Confirm New Password:</label>
                            <input type="password" id="confirm_new_password" name="confirm_new_password"
                                class="form-control" required>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-gradient-primary me-2">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Schedule data scraping</h4>
                    <p class="card-description"> The data will be pulled off the live stream in every 'n' hours </p>
                    <form action="/submit_timings/" method="post" class="form-sample">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="start_time">Start Time:</label>
                            <input type="time" id="start_time" class="form-control" name="start_time" required>
                        </div>
                        <div class="form-group">
                            <label for="end_time">End Time:</label>
                            <input type="time" id="end_time" class="form-control" name="end_time" required>
                        </div>
                        <div class="form-group">
                            <label for="interval">Scraping Interval:</label>
                            <select id="interval" name="interval" class="form-control form-control-lg" required>
                                <option value="1">Every Minute</option>
                                <option value="60">Every Hour</option>
                                <option value="custom">Custom Duration</option>
                            </select>
                        </div>
                        <div id="custom_duration" style="display: none;">
                            <label for="custom_duration_input">Custom Duration (in minutes):</label>
                            <input type="number" id="custom_duration_input" name="custom_duration_input" min="1">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-gradient-primary me-2">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
<script>
    // JavaScript code to show/hide the custom duration input based on selected option
    const intervalSelect = document.getElementById("interval");
    const customDurationInput = document.getElementById("custom_duration");

    intervalSelect.addEventListener("change", () => {
        if (intervalSelect.value === "custom") {
            customDurationInput.style.display = "block";
            customDurationInput.querySelector("input").required = true;
        } else {
            customDurationInput.style.display = "none";
            customDurationInput.querySelector("input").required = false;
        }
    });
</script>
{% endblock content %}